# Client
CLIENT=tkp
DOMAIN=lopsia.fr

# n8n
N8N_ENCRYPTION_KEY=
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=

# InvoiSage (si produit acheté)
SUPABASE_URL_IVS=
SUPABASE_SERVICE_KEY_IVS=

# CRM IA (si produit acheté)
SUPABASE_URL_CRM=
SUPABASE_SERVICE_KEY_CRM=

# RAG (si produit acheté)
SUPABASE_URL_RAG=
SUPABASE_SERVICE_KEY_RAG=
